html {
    scroll-behavior: smooth;
  }
  
body {
    height: 285vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Poppins';

}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5vh;
    background-color: #6c5ce7;
    bottom: 0;
    z-index: 5;
    margin-top: 30px;
    
}
footer p {

    color: white;
    font-size: 12px;

}
/*Começo do CSS do header*/
header {
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.div-header{

    background-color: white;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.div-idiomas{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}
.div-idiomas img {
    height: 25px;
    width: 25px;
    margin: 0 5px;
    cursor: pointer;
}
.div-header-nome{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 90px;
}
.div-header-nome i {
    color: #2ecc71;
    margin: 0 5px;
    font-size: 14px;
    transform: translateY(-1px);
}
.div-header-nome h2 {
    color: #2ecc71;
    font-size: 14px;
    margin: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 30%;
}
nav a {


    text-decoration: none;
    margin: 0 10px;
    font-size: 13px; 
    color: #2d3436;
}
.div-btn-contato{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 10%;

}
.btn-contato {

    height: 45px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #6c5ce7;
    border-radius: 30px;
    cursor: pointer;
}
.div-btn-contato a {

    font-size: 13px;
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;

}
.div-btn-contato span{

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: white;
    margin-left: 3px;
}

/*Fim do CSS do Header*/

/*Começo CSS da primeira Section*/
.section-home {
    width: 100%;
    height: 85vh;
    box-sizing: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.div-titulos{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0 20%;
    box-sizing: border-box;
}
.div-titulos h2 {

    margin: 0;
    padding: 7px 15px;
    font-size: 26px;
    line-height: 30px;
    background-color: #6c5ce7;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 20px;
    color: white;
    font-weight: 400;
}   
.div-titulos h1 {

    margin: 5px 0;
    padding: 0;
    font-size: 50px;
    line-height: 50px;
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.div-titulos h3 {

    margin: 10px 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 0 60px;
    color: grey;
    box-sizing: border-box;
}
.div-btn-fale{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-btn-fale a {

    text-decoration: none;
    border: 1px solid #6c5ce7;
    padding: 18px;
    border-radius: 20px;
    color: #6c5ce7;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
    font-weight: 700;;
    letter-spacing: 1px;
    transition:  all .3s ease-in-out;
}
.div-btn-fale a:hover{
    background-color: #6c5ce7;
    border: none;
    color: white;
    transform: scale(1.1);
}
.div-redes-sociais{

    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-redes-sociais i{

    border-radius: 20px;
    margin: 0 7px;
    font-size: 20px;
    padding: 12px;
    color: gray;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.whats-icone-cor:hover{

    background-color: #2ecc71;
    color: white;

}
.email-icone-cor:hover{

    background-color: #e74c3c;
    color: white;

}
.linkedin-icone-cor:hover{

    background-color: #3498db;
    color: white;

}
.github-icone-cor:hover{

    background-color: #34495e;
    color: white;

}
.div-msg{

    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.div-msg p{
    margin: 10px 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 0 60px;
    color: grey;
    box-sizing: border-box;
}
.div-icones-habilidades{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
     
}
.div-icones-habilidades i {

    color: grey;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-size: 36px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.div-icones-habilidades i:nth-of-type(1):hover{
    color: #e74c3c;
}
.div-icones-habilidades i:nth-of-type(2):hover{
    color: #3498db;
}
.div-icones-habilidades i:nth-of-type(3):hover{
    
    color: #48dbfb;
}
.div-icones-habilidades i:nth-of-type(4):hover{
    color: #e67e22;
}
.div-icones-habilidades i:nth-of-type(5):hover{
    color: #fed330;
}
/*Fim do CSS da primeira section*/

/*Segunda section CSS*/

.section-projetos{
    width: 100%;
    height: 120vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all .5s ease;
}
.div-titulos-projetos{

    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    box-sizing: border-box;
    transition: all .5s ease;
}
.div-titulos-projetos h2{

    font-size: 36px;
    margin: 0;
    color: white;
    border-radius: 25px;
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.div-titulos-projetos h3{

    margin: 10px 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 0 60px;
    color: grey;
    box-sizing: border-box;

}
.div-cards-projetos{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
} 
.div-projeto-1{
    height: 300px;
    width: 25%;
    position: relative;
    transition: all 1s ease;
    margin: 0 15px;
}
.div-img-card{

    height: 330px;
    width: 100%;
    position: absolute;
    z-index: 3;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.div-img-card div:nth-of-type(1){
    height: 10%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
     border-radius: 20px 20px 0 0;
    
}
.div-img-card div:nth-of-type(1) p {

    color: #6c5ce7;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.div-img-card div:nth-of-type(2){

    height: 80%;
    width: 100%;
}
.div-img-card div:nth-of-type(2) img{

    height: 100%;
    width: 100%;
}
.div-img-card div:nth-of-type(3){

    background-color: white;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 20px 20px;
}
.div-img-card div:nth-of-type(3) h3{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: grey;
}
.div-msg-clicar p{

    margin: 0;
    padding: 0;
    font-size: 14px;
    
}
.div-icones-habilidades-card{
    height: 330px;
    width: 100%;
    position: absolute;
    background-color: white;
    transition: all .3s ease;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.div-icones-habilidades-card i {
 
    margin: 0 7px;
    font-size: 30px;
    padding: 10px;
    color: gray;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}
.div-icones-habilidades-card i:nth-of-type(1){

    color: #e67e22;
}
.div-icones-habilidades-card i:nth-of-type(2){

    color: #e4be35
}
.div-icones-habilidades-card i:nth-of-type(3){

    color: #3498db;
}
.div-descricao-projeto{
    height: 330px;
    width: 100%;
    position: absolute;
    z-index: 1;
    transition: all .5s ease;
    box-sizing: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.div-descricao{

    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
}
.div-descricao p{

    font-size: 12px;
    text-align: justify;
    text-indent: 15px;

}
.div-btns-cards{

    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.div-btn-github{

    cursor: pointer;
    border: 1px solid black;
    height: 40%;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border-radius: 15px;
    transition: all .3s ease;
    box-sizing: border-box;
}
.div-btn-github a {

    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
    font-size: 14px;
    margin: 0 10px;
}
.div-btn-github i{

    font-size: 20px;

}
.div-btn-site{
    cursor: pointer;
    border: 1px solid black;
    height: 40%;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border-radius: 15px;
    transition: all .3s ease;
    box-sizing: border-box;
}
.div-btn-site a {

    text-decoration: none;
    color: black;
    padding: 0; 
    margin: 0;
    font-size: 14px;
    margin: 0 10px;
}
.div-btn-site:hover{
    background-color: #6c5ce7;
    border: none;
    
}
.div-btn-site:hover i,
.div-btn-site:hover a {

    
    color: white;
}
.div-btn-site i{

    font-size: 20px;
    
}
.div-btn-github:hover{
    background-color: #2d3436;
    border: none;
    
}
.div-btn-github:hover i,
.div-btn-github:hover a {

    
    color: white;
}
/*classes usadas no JS*/
.aumentarDivProjeto {
    height: 660px;
}
.aumentarDivDescricao{
    height: 660px;
}
.aumentarDivHabilidade{
    height: 380px;
}
/*Fim do CSS da segunda seção*/

.section-habilidades{

    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
.div-titulo-habilidades{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.div-titulo-habilidades h2 {
    font-size: 36px;
    margin: 0;
    color: white;
    border-radius: 25px;
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.div-titulo-habilidades h3{
    margin: 10px 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 0 60px;
    color: grey;
    box-sizing: border-box;
}
.div-container-habilidades{

    height: 80%;
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.div-hard-skills{

    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    border-radius: 20px;
}
.div-titulo-grid{

    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.div-grid-habilidades{

    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    box-sizing: border-box;
    padding: 10px;
}
.div-icone-habilidade{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
}
.div-descricao-habilidades{
    width: 100%;
    height: 85%;
    padding: 10px;
    box-sizing: border-box;
}
.div-html-habilidades{
    grid-column:  1/3;
    grid-row: 1/2;
    padding: 10px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.div-css-habilidades i {
    font-size: 28px;
    color: #3498db;

}
.div-html-habilidades i {
    font-size: 28px;
    color: #e67e22;

}
.div-scss-habilidades i {
    font-size: 28px;
    color: #e74c3c;

}
.div-react-habilidades i {
    font-size: 28px;
    color: #48dbfb;

}
.div-js-habilidades i {
    font-size: 28px;
    color: #fed330;

}
.div-html-habilidades p,
.div-css-habilidades p,
.div-scss-habilidades p,
.div-react-habilidades p,
.div-js-habilidades p{
    text-indent: 20px;
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
    text-align: justify;
}
.div-css-habilidades{
    grid-column:  3/6;
    grid-row: 1/2;
    padding: 10px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;


}
.div-scss-habilidades{
   
    grid-column:  1/2;
    grid-row: 2/3;
    padding: 10px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.div-js-habilidades{
    
    grid-column:  2/4;
    grid-row: 2/3;
    padding: 10px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.div-react-habilidades{
  
    grid-column:  4/6;
    grid-row: 2/3;
    padding: 10px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.div-soft-skills{


    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
}
.div-soft-titulo{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-soft-titulo h3,
.div-titulo-grid h3 {
    margin: 0;
    padding: 7px 15px;
    font-size: 20px;
    line-height: 30px;
    background-color: #6c5ce7;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 20px;
    color: white;
    font-weight: 400;
}
.div-grid-soft{

    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
    box-sizing: border-box;
    grid-gap: 10px;
}
.div-trabalho-equipe{
    
     grid-column: 1/2;
     grid-row: 1/2;
     border-radius: 20px;
     padding: 20px;
     box-sizing: border-box;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.div-adaptabilidade{
    
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 20px;
    padding: 20px;
     box-sizing: border-box;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.div-aprendizado{
    
    grid-column: 1/2;
    grid-row: 3/4;
    border-radius: 20px;
    padding: 20px;
     box-sizing: border-box;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.div-trabalho-equipe h3,
.div-adaptabilidade h3,
.div-aprendizado h3 {

    padding: 0;
    margin: 10px 0;
    font-size: 14px;
    text-align: center;
    color: #6c5ce7;
}
.div-trabalho-equipe p,
.div-adaptabilidade p,
.div-aprendizado p {

    color: #2d3436;
    margin: 0;
    text-indent: 20px;
    font-size: 0.7em;
    text-align: justify;
}