@import '../abstract/variaveis';

.section-projetos{

    height: 75vh;
    width: 100vw;
    transition: all .4s;
    @include box-shadow;
    @include mobile{
        height: 250vh;
        width: 100%;
        box-sizing: border-box;
    }
    .div-titulos-projetos{

        height: 20%;
        width: 100%;
        @include display-flex;
        flex-direction: column;
        @include mobile {
            height: 10%;
        }
        h2{
            margin: 0;
            @include gradient;
            font-size: calc($tamanho-fonte*3);
            @include mobile{
                font-size:$tamanho-fonte;
            }

        }
        h3 {
            color: $cor-cinza;
            font-weight: 500;
            font-size: $tamanho-fonte;
            @include mobile{
                font-size: calc($tamanho-fonte*0.4);
                width: 80%;
                text-align: center;
            }
        }
    }
    .div-cards-projetos{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        position: relative;
        @include mobile{
            height: 90%;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
        }
        .div-projeto-1{

            height: 400px;
            width: 450px;
            z-index: 1;
            position: relative;
            transition: all .4s;
            border-radius: 20px;
            @include mobile{
                height: 300px;
                width: 250px;
                margin-bottom: 50%;
            }
        }
        .div-img-card{
            height: 400px;
            width: 450px;
            box-sizing: border-box;
            z-index: 3;
            position: absolute;
            @include box-shadow;
            border-radius: 20px;
           
            @include mobile{
                height: 200px;
                width: 250px;
            }
            cursor: pointer;
            
            div:nth-of-type(1){
                height: 5%;
                @include display-flex;
                p{
                    font-size: $tamanho-fonte;
                    color: $cor-principal;
                    margin: 0;
                    @include mobile {
                        font-size: 8px;
                    }
                }
            }
            div:nth-of-type(2){
                height: 85%;
                background-color: red;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: fill;
                    
                }
            }
            div:nth-of-type(3){
                height: 10%;
                @include display-flex;
                background-color: $cor-branca;
                border-radius: 20px;
                h3{
                    font-size: calc($tamanho-fonte*1.2);
                    color: $cor-principal;
                    font-weight: 700;
                    border-radius: 20px;
                    @include mobile {
                        font-size: 8px;
                    }
                }
            }

           
        }
        .div-icones-habilidades-card{
            height: 400px;
            width: 450px;
            z-index: 2;
            position: absolute;
            display: flex;
            background-color: $cor-branca;
            @include box-shadow;
            border-radius: 20px;
            transition: all .4s;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            @include mobile{
                height: 230px;
                width: 250px;
            }
            i:nth-of-type(1){
                margin: 5px 7px;
                color: $cor-laranja;
                font-size: calc($tamanho-fonte*2);
                @include mobile {
                    font-size: 15px;
                }
            }
            i:nth-of-type(2){
                margin: 5px 7px;
                color: $cor-amarela;
                font-size: calc($tamanho-fonte*2);
                @include mobile {
                    font-size: 15px;
                }
            }
            i:nth-of-type(3){
                margin: 5px 7px;
                color: $cor-azul;
                font-size: calc($tamanho-fonte*2);
                @include mobile {
                    font-size: 15px;
                }
            }
        }
        .div-descricao-projeto{
            height: 400px;
            width: 450px;
            z-index: 0;
            position: absolute;
            @include box-shadow;
            transition: all .4s;
            border-radius: 20px;
            @include mobile{
                height: 440px;
                width: 250px;
            }
            .div-descricao{
                height: 80%;
                width: 100%;
                display: flex;
                align-items: flex-end;
                padding: 10px;
                box-sizing: border-box;
                background-color: $cor-branca;
               
                p{
                    text-indent: 40px;
                    text-align: justify;
                    margin: 0;
                    color: $cor-preta;
                    font-size: $tamanho-fonte;
                    @include mobile {
                        font-size: 8px;
                    }
                }
            }
            .div-btns-cards{
                height: 20%;
                width: 100%;
                background-color: $cor-branca;
                @include display-flex;
                border-radius: 20px;
                .div-btn-github{
                    background-color: $cor-cinza;
                    height: 40px;
                    width: 100px;
                    @include display-flex;
                    border-radius: 10px;
                    margin: 0 5px;
                    text-decoration: 0;
                    transition: all .4s;
                    @include mobile {
                        height: 20px;
                        width: 70px;
                    }
                    i{
                        color: $cor-branca;
                        @include mobile {
                            font-size: 10px;
                        }
                    }
                    p{
                        color: $cor-branca;
                        
                        font-size: $tamanho-fonte;
                        margin: 0 5px;
                        @include mobile {
                            font-size: 10px;
                        }
                    }
                    &:hover{

                        background-color: $cor-preta;
                        
                    }
                    
                }
                .div-btn-site{

                    background-color: $cor-cinza;
                    height: 40px;
                    width: 100px;
                    @include display-flex;
                    border-radius: 10px;
                    margin: 0 5px;
                    text-decoration: none;
                    transition: all 0.4s;
                    @include mobile {
                        height: 20px;
                        width: 70px;
                    }
                    i{
                        color: $cor-branca;
                        @include mobile {
                            font-size: 10px;
                        }
                    }
                    p {
                        color: $cor-branca;
                        text-decoration: 0;
                        font-size: $tamanho-fonte;
                        margin: 0 5px;
                        @include mobile {
                            font-size: 10px;
                        }
                    }
                    &:hover {

                        background-color: $cor-principal;
                        color: $cor-branca;
                    }
                }
                
            }
        }
    }
   
}
.aumentarDivDescricao{
    
    transform: translateY(310px);
    @include mobile {
            
    transform: translateY(0);
      
    }
}
.aumentarDivHabilidade{
    transform: translateY(40px);
    @include mobile {
        transform: translateY(0);
    }
}
.aumentarDivProjeto{
    height: 600px;
    @include mobile {
        height: 300px;
    }
}
.aumentarSectionProjetos{
    height: 130vh;
    @include mobile {
        height: 250vh;
    }
}
